<html>
    <head>
        <title> Home </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            <h1> Renter Homepage </h1>
            <br>
            {% for message in get_flashed_messages() %}
            {{ message }}
            {% endfor %}
            <form action="" method="post">
                 <input type="text" placeholder="Type" name="type" value="{{
                  request.form.type }}">
                  <input type="text" placeholder="Address" name="address" value="{{
                    request.form.address }}">
                    <input type="text" placeholder="Price" name="price" value="{{
                        request.form.price }}">
                <input class="btn btn-default" type="submit" value="Post">
              </form>
        </div>
    </body>
</html>