<html>
    <head>
        <title> Renter Home </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            <h1> Renter Homepage </h1>
            <br>
            {% for message in get_flashed_messages() %}
            {{ message }}
            {% endfor %}
            <p>Click <a href="logout">here</a> to logout.</p>
            <p>Click <a href="account">here</a> to go to your account.</p>
            <p>Click <a href="/">here</a> to go home.</p>
            <p>Click <a href="addNewProperty">here</a> to add new properties.</p>
        </div>
    </body>
</html>